.contactsBlock {
    min-height: 70vh;
    background-color: #fcd6d6;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: lightcyan;
}

form {
    width: 285px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin: 5px;
}

button {
    height: 30px;
    width: 70px;
}