.footer {
    height: 200px;
    background-color: #b7cbee;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.links {
    display: flex;
    width: 300px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.linkElement {
    width: 60px;
    height: 60px;
    background-color: #106fea;
}

.title {
    background-color: lightcyan;
    flex-wrap: wrap;
}

